<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>

    <add connectionString="Server=XAMARIN4\SQLEXPRESS;Database=CuentasPorPagar;User Id=sa;Password=123456789;" name="default"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
